*{
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:  5% 20%;
    font-size: 17px;
    padding: 8px;
}

.container{
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px  solid black ;
    border-radius: 5px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
select
{
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
}

.main_heading{
    text-align: center;
}
 
input[type="submit"]{
    background-color: rgb(60, 185, 60);
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover{
    background-color: blue;
}