nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    float:left;

}

nav{
    background-color: black;
    overflow: hidden;
}

nav a:hover{
    color: red;
}

nav a:visited{
    color: rgb(38, 0, 255);
}