/* element selector */
p{
    color: rgb(255, 255, 255);font-size: 30px;
}
/* id selector */
#m1{
 color: blue;
}
/* class selector */
.pink-text{
    color: pink;
}
/* background-image */
body{
    background-image: url(https://f8n-production.s3.amazonaws.com/creators/profile/jhb52d7g3-dark-low-poly-background-1048-7971-jpg-bapfrh.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
}
/* border */
#border{
    border-style: outset;
    border-color: aqua;
    border-radius: 10px;
    border-width: 2px;
}