body {
    background: url('https://img.favpng.com/17/4/15/bicycle-vector-graphics-cycling-mountain-bike-computer-icons-png-favpng-8h660WrXPHYynfTgH1ttWZZVd.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#header {
    color: #ff5500;
    text-decoration: none;
}
