*{
    background-color: rgb(8, 151, 164);
    color: rgb(0, 0, 0);
}

div{
    background-color: rgb(133, 212, 236);
    text-align: center;
    margin: 5% 20%;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5%;
}

h1{
    background-color: rgb(133, 212, 236);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40;
    padding: 12px;
}
.p{
    background-color: rgb(133, 212, 236);
    padding: 12px;
    color: rgb(0, 0, 0);
    width: 50%;
    border: 1px solid black;
    border-radius: 5px;
}

h4{
    background-color: rgb(133, 212, 236);
}

input[type="submit"]{
    cursor: pointer;
    background-color: rgb(44, 209, 44);
}

input[type="submit"]:hover{
    background-color: rgb(33, 33, 219);
}